<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employer Dashboard</title>
</head>
<body>
     <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <a href="#" onclick="window.history.back();">Zurück</a>
     <br><br>
    <h1>Employer Dashboard</h1>
    <a href="{{ url_for('add_employee') }}">Add Employee</a>
    <ul>
        {% for employee in employees %}
        <li>
            <a href="{{ url_for('view_employee', employee_id=employee.employee_id) }}">
                {{ employee.name }} - Weekly Hours: {{ employee.weekly_hours }} - Employee-ID: {{employee.employee_id}}
            </a>
        </li>
        {% endfor %}
    </ul>
    <p> <a href="/employer/send_message">Nachricht senden</a></p>
    <p>
        <form action="{{ url_for('create_yearly_summaries') }}" method="POST">
        <button type="submit">Create Yearly Summaries</button>
    </form>
    </p>
</body>
</html>
