<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employer Dashboard</title>
</head>
<body>
    <h1>Employer Dashboard</h1>
    <a href="{{ url_for('add_employee') }}">Add Employee</a>
    <ul>
        {% for employee in employees %}
        <li>
            <a href="{{ url_for('view_employee', employee_id=employee.employee_id) }}">
                {{ employee.name }} - Weekly Hours: {{ employee.weekly_hours }} - Employee-ID: {{employee.employee_id}}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
